@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(cssFiles: List[String])(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body > 
   
        <div class="navbar navbar-inverse navbar-fixed-top " >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" ><strong style=""> KITCH </strong></a>
            </div>
            <div class="navbar-collapse collapse move-me">
                <ul class="nav navbar-nav navbar-right set-links">
                    <li><a href="@routes.Application.index">HOME</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                    <li><a href="pricing.html">CONTACT</a></li>
                    <li><a href="#stats-download">BLANK</a></li>
                    <li><a href="@routes.Application.login">LOGIN</a></li>
                </ul>
            </div>

        </div>
        </div>
    <!--MENU SECTION END-->
        <div style = "margin-top:60px;top:50%;width:100%;height:100%">@content</div>
    </body>
</html>
